## Practice Exercise 0

Below is a dataset and my recommendation for visualizations to create.

Visualizations covered:
- horizontal bar plot
- vertical bar plot
- box plot
- histogram

### Import Modules

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

### Titanic Dataset

The Titanic is a well-known ship that sunk on its maiden voyage in 1912 after collision with an iceberg. Many were killed in the incident. You may recognize this name from the movie with Leonardo DiCaprio. 

Please read up on the data dictionary here: https://www.kaggle.com/c/titanic/data

We'll do exploratory analysis to learn about the people on the ship.

#### Question 1: A l'aide de pandas importez et lisez le dataset

In [1]:
import pandas as pd

# Définir le chemin vers le fichier Excel
path = "C:/Users/ibrah/OneDrive/Documents/école/S4/informatique/projet finale/41_Titanic2.csv"

# Charger le dataset depuis le fichier Excel
df = pd.read_csv(path)

# Afficher les premières lignes du dataset pour vérifier s'il a été correctement importé
print(df.head())

ModuleNotFoundError: No module named 'pandas'

#### Question 2: Quel est le type de la variable df?

You can use the built-in type function to check: https://docs.python.org/3/library/functions.html#type

In [15]:
# code ici

<class 'pandas.core.frame.DataFrame'>

Pandas dataframe

#### Question 3:Affichez les 5 premières lignes et les 5 dernières lignes du dataset

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

#### Question 4: De combien de ligne ,colonne est constitué le dataset?

In [1]:
# code here

#### Question 5: Dessinez le plot de l'age

I'd recommend reading up on the math behind box plots and other examples: 
- https://help.plot.ly/what-is-a-box-plot/
- https://dfrieds.com/data-visualizations/when-use-box-plots

- X-axis should be age. 
- Include a relevant title
- Make the plot's figure slightly bigger than the default styles
- Make the font size of the title, x-ticks and x-label to be slightly larger than the default so it's easier to read.

You may need to filter the dataframe by a specific column. If you don't know how, you can see an example here: https://chrisalbon.com/python/data_wrangling/filter_dataframes/

I'd recommend using Seaborn's box plot functionality. However, make sure to filter out null age values! https://seaborn.pydata.org/generated/seaborn.boxplot.html

I provide code in the first box that should apply styles to all plots created in this Notebook. You can learn more here: https://seaborn.pydata.org/tutorial/aesthetics.html

In [2]:
# code here

#### Question 6: Y'a t'il des valeurs extremes?

#Answer here...

#### Question 7: Ecrivez un code pour afficher les quantiles?

Hint: you can use Pandas `quantile()` method to find the 25th and 75th percentile: https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.Series.quantile.html. 

Alternatively, you can see the output with Pandas `describe()` method: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html

In [8]:
# code here

Text answer here...

#### Question 8: Quelle l'age du passager le plus vieux du titanic?

Hint: you can use the `max()` method found here: https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.Series.max.html

Please answer this question programmatically.

In [3]:
# code here

#### Question 9: Quel est l'age du plus jeune?

In [4]:
# code here

#### Question 10: Dessiner l'histogramme de l'age des personnes du titanic?

You can learn more about histograms here: 

- https://www.mathsisfun.com/data/histograms.html
- https://dfrieds.com/data-visualizations/when-use-histogram
- https://help.plot.ly/histogram/

A histogram is another type of visualization used to visualize the distribution of a continous variable - in our case, age of people on the Titanic.

I'd recommend using Seaborn's `distplot()` method. I prefer this Seaborn method over Pandas Plot because Seaborn's method automatically calculates an optimal bin size. Learn more here: https://seaborn.pydata.org/generated/seaborn.distplot.html

With your plot, include:
- title
- x-label
- y-label

In [5]:
# code here

This histogram reveals similar information to the box plot above. I'm curious to learn more about the age differences of different genders of the Titanic.

#### Question 11: Draw two box plots on the same axes/plot to compare the ages of males versus females

Please read the documentation on this Seaborn page about how to easily build side-to-side box plots: https://seaborn.pydata.org/generated/seaborn.boxplot.html

You only need one line of code to generate this visualization and one additional line to set a title.

Criteria for visualization:
- Orientation of both box plots should be vertical
- Make sure the x-axis and y-axis have proper labels
- Include a detailed title
- Make sure the figure size is slightly larger than default
- Make sure the labels, ticks and title are larger font size than the default

#### Question 13: Y'a t'il des valeurs extremes pour les hommes et les femmes

#### Question 14: faire un boxplot de la distribution des montants.

A box plot is ideal here because we can easily see outliers of people that paid a very large amount of money for their ticket.

- X-axis should be fare amount (U.S. dollars). 
- Include a relevant title.
- Make the plot's figure slightly bigger than the default styles.
- Make the font size of the title, x-ticks and x-label to be slightly larger than the default so it's easier to read.

In [6]:
# code here

#### Question 15: Créer un boxplot groupeé par class

Criteria for visualization:
- Orientation of both box plots should be horizontal
- Make sure the x-axis and y-axis have proper labels
- Include a detailed title
- Make sure the figure size is slightly larger than default
- Make sure the labels, ticks and title are larger font size than the default

In [7]:
# code here

#### Question 16: Quel classe de ticket à la plus grande medianne?

Text answer here...

#### Question 17: quel classe de ticket a le plus grand range?

Documentation on what is the definition of range: https://www.mathsisfun.com/definitions/range-statistics-.html

Text answer here...

#### Question 18:Creer un boxplot grouper en foncton des variables: `class` and `survived`.

Criteria for visualization:
- Orientation of box plots should be horizontal
- Make sure the x-axis and y-axis have proper labels
- Include a detailed title
- Make sure the figure size is slightly larger than default
- Make sure the labels, ticks and title are larger font size than the default
- The legend should show the survival categories

#### Question 19: Pour quel classe de ticket le plus grand montant de ticket à été payé

Text answer here...

#### Question 20: Creer un bar plot du nombre en de personne embarqués en fonction de la ville

Our DataFrame provides a row for each unique person. We want to show the count of people from each town using bars.

You can read more about vertical bar charts here: https://dfrieds.com/data-visualizations/when-use-vertical-bar-chart

We can use Seaborn's `countplot()` method to create the bar plot and help us calculate the count of people in each town. Read more here: https://seaborn.pydata.org/generated/seaborn.countplot.html. You'll have to use the `x`, `data`, and `orient` arguments to create the desired visualization.

Criteria for visualization:
- Vertical bar plot
- Make sure the x-axis and y-axis have proper labels
- Include a detailed title
- Make sure the figure size is slightly larger than default
- Make sure the labels, ticks and title are larger font size than the default

In [1]:
# code here